---
layout: page
title: Palestinian Open Source Community
subtitle: Think, Collaborate, Share
use-site-title: false
---

<div id="carouselGallery" class="carousel slide gallery" data-ride="carousel">
	<div class="carousel-inner h-100">
		{% for image in site.gallery %}
			<div class="item h-100 {% if forloop.first %} active {% endif %}" >
				<img class="d-block gallery-image fit h-100" src="{{image.imageUrl}}" alt="{{image.imageAlt}}">
				<div class="carousel-caption-bottom">
					<h2>{{image.imageTitle}}</h2>
					{{ image.content | markdownify }}
				</div>
			</div>
		{% endfor %}
	</div>
	  <div class="left carousel-control" href="#carouselGallery" data-slide="prev">
    <i class="fa fa-chevron-left"></i>
    <div class="sr-only">Previous</div>
  </div>
  <div class="right carousel-control" href="#carouselGallery" data-slide="next">
     <i class="fa fa-chevron-right"></i>
    <div class="sr-only">Next</div>
  </div>
</div>

<div class="meet-the-team">
<h1 class="centered-title">Meet The Team</h3>
<div id="carouselMembers" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
	  {% for staff_member in site.staff_members %}
	  {% assign remainder = forloop.index0 | modulo: 3 %}
	  {% if remainder == 0 %}
		<div class="item {% if forloop.first %} active {% endif %}">
	  {% endif %}
		<div class="staff-member col-md-4 col-lg-4 col-sm-12">
			<div class="panel member-panel" >
				<a href="{{ staff_member.url }}">
				<div class="panel-body">
				  <h4 class="member-name"> 
						{{ staff_member.name }} - {{ staff_member.position }}
					</h4>	
					<div class="member-description">
						{{ staff_member.description }}
					</div>
					<img src="{{ staff_member.profileImage }}" alt="{{ staff_member.name }}">			
				</div>
					</a>
				</div>
			</div>
		 {% if remainder == 2 %}
		</div>
		 {% endif %}
		 {% endfor %}
	</div>
	   <div class="left carousel-control" href="#carouselMembers" data-slide="prev">
    <i class="fa fa-chevron-left"></i>
    <div class="sr-only">Previous</div>
  </div>
  <div class="right carousel-control" href="#carouselMembers" data-slide="next">
     <i class="fa fa-chevron-right"></i>
    <div class="sr-only">Next</div>
  </div>
  </div>
  
 
</div>

